.App {
  text-align: center;
}

.padding-top {
  padding-top: 10px;
  /* padding-left: 10px; */
}
.padding-center {
  padding-top: 10px;
  padding-left: 10px;
}

.error {
  color: rgb(255, 0, 64);
  font-size: 11px;
}

img {
  width: 200px;
  height: 200px;
}



.form-helper{
  font-size: 11px;
}

.required{
  color: rgb(255, 0, 64);
}
